.btn {
  /* リンクをクリックすると紫色になることがあるよね */
  &:link,
  &:visited {
      text-transform: uppercase;    /* 大文字にする */
      text-decoration: none;        /* 下線を消す */
      padding: 1.5rem 4.0rem;           /* 上下 左右 */
      display: inline-block;        /* インラインブロック要素にする */
      border-radius: 10rem;         /* 角を丸くする */
      transition: all .2s;         /* 0.2秒で変化する */
      position: relative;
      font-size: $default-font-size;
  } 

  &:hover {
      transform: translateY(-3px);    /* 上に3pxずらす */
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);    /* 影をつける(x方向 y方向 ぼかし rgba(r,g,b,透明度(20%))) */

      &::after {
          transform: scaleX(1.4) scaleY(1.6);   /* 横に1.4倍 縦に1.6倍 */
          opacity: 0;
      }
  }

  /* クリックした時の挙動 */
  &:active {
      transform: translateY(-1px);    /* 上に1pxずらす */
      box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);    /* 影をつける(x方向 y方向 ぼかし rgba(r,g,b,透明度(20%))) */
  }

  &--white {
      background-color: $color-white;
      color: $color-grey-dark;
      
      &::after {
          background-color: $color-white;
      }
  }

  /* ボタンが親 */
  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }

  &--animated {
      animation: moveInBottom .5s ease-out .75s;  /* 名前 時間 タイミング 遅延 */
      animation-fill-mode: backwards;           /* アニメーションが始まる前に最初の状態に戻す(これによって、アニメーション後の画面が最初に表示されない) */
  }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(0px);
    }
}